*{
	box-sizing: border-box;
}
body {
    background-color: #f8f6fa;
}
.search-toggle {
    position: absolute;
    width: auto;
    margin: 100px auto;
    display: table;
}
.search-toggle input[type=text] {
    position: relative;
    padding: 15px 30px 15px 17px;
    width: 48px;
    height: 48px;
    color: #333;
    font-size: 17px;
    border: none;
    border-radius: 1px;
    outline: none;
    transition: 0.5s ease;
    background: #fff;
}
.search-toggle input[type=text]:hover {
    width: 150px;
}
.search-toggle input[type=text]:focus {
	width: 300px;
}
.search-toggle i {
    position: relative;
    left: -33px;
   
    top: 3px;
    font-size: 20px;
    color: #333;
}
